* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte: 'Roboto', sans-serif;

    --texto-peso: 300;
    --subtitulo-peso: 400;
    --titulo-peso: 700;

    --texto-tam: 18px;
    --subtitulo-tam: 25px;
    --titulo-tam: 30px;
}






/*CABEÇALHO*/

.cabecalho {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin-bottom: 20px;
}

.imagem__cabecalho {
    grid-column: 1;
    height: 70px;
    width: 70px;
    text-align: center;
}

.texto__cabecalho {
    font-family: var(--fonte);
    grid-template-columns: 1;
    text-align: center;
}

.titulo__cabecalho {
    font-size: var(--titulo-tam);
    font-weight: var(--titulo-peso);
    margin-bottom: 10px;
}

.subtitulo__cabecalho {
    font-size: var(--subtitulo-tam);
    font-weight: var(--subtitulo-peso);
}







/*1 SECTION MAIN*/

.primeiro {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width: 98vw;
    height: 80vh;
    margin-bottom: 20px;
}

.explicacao {
    font-family: var(--fonte);
    grid-column: span 3;
    margin: 0;
    text-align: justify;
    padding-left: 40px;
    padding-right: 80px;
    color: #696969;
}

.subtitulo__explicacao {
    font-size: 18px;
    font-weight: var(--subtitulo-peso);
    margin-bottom: 10px;
}

.texto__explicacao {
    font-size: 18px;
    font-weight: var(--texto-peso);
    margin-bottom: 20px;
}

.formulario {
    background-color:#C0C0C0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte);
    grid-column: span 2;
    height: 450px;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    width: 350px;
}

legend {
    color: 	#696969;
    font-size: var(--titulo-tam);
    font-weight: var(--subtitulo-peso);
    margin-bottom: 10px;
    text-align: center;
}

fieldset {
    justify-content: space-around;
    border: none;
    text-align: center;
}

input {
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: #ffffff;
    margin-top: 15px;
    outline: #ffffff;
}

button {
    color: #ffffff;
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
    background: #696969;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 40px;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    transition: 0.2s;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2)
}

button:hover {
    cursor: pointer;
    background: #333333;
}








/*2 SECTION MAIN*/

.segundo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    background: #C0C0C0;
    font-family: var(--fonte);
    font-size: var(--titulo-tam);
    font-weight: var(--titulo-peso); 
}

.beneficio {
    text-align: center;
    padding: 10px;
    justify-content: center;
    margin-bottom: 70px;
}

.icon__beneficio {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}





/*3 SECTION MAIN*/
.terceiro {
    background-color: #696969;
    padding-top: 20px;
    font-family: var(--fonte); 
}

.avaliacoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.titulo__terceiro {
    text-align: center;
    font-size: var(--titulo-tam);
    font-weight: var(--titulo-peso);
}

.depoimento {
    justify-content: center;
    text-align: center;
    margin: 30px;
    background-color: #C0C0C0;
    border-radius: 17px;
    height:300px;
    height: 170px;
    padding: 40px 30px 30px 30px;
    font-weight: var(--texto-peso);
    font-size: var(--texto-tam);
}

.icon__depoimento {
    width: 50px;
    height: 50px;
}
